<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Dentistry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

  </configSections>
  <!--رشته اتصال-->
  <connectionStrings>
    <add name="DentalContext" connectionString="Data Source=|DataDirectory|\Database\Dental.db;Version=3;Foreign Keys=True;" providerName="System.Data.SQLite" />
  </connectionStrings>

<!-- ثبت Provider برای SQLite -->
<system.data>
	<DbProviderFactories>
		<remove invariant="System.Data.SQLite" />
		<add name="SQLite Data Provider"
				invariant="System.Data.SQLite"
				description=".Net Framework Data Provider for SQLite"
				type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
	</DbProviderFactories>
</system.data>
	
	
  <userSettings>
    <Dentistry.Properties.Settings>
      <setting name="AccountNumber" serializeAs="String">
        <value>columnHeader4</value>
      </setting>
      <setting name="LoginCount" serializeAs="String">
        <value>0</value>
      </setting>
    </Dentistry.Properties.Settings>
  </userSettings>
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	<!-- تنظیمات Entity Framework -->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
			<provider invariantName="System.Data.SQLite"
					  type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
			<provider invariantName="System.Data.SQLite.EF6"
					  type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
		</providers>
	</entityFramework>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>